@import "../App.scss";

.card-container {
    width: 85%;
    height: 100%;
    position: relative;
    padding: 0 !important;
    margin: 0 0 100px 0 !important;

    .card-container-row {
        padding: 0;
        height: auto;
        position: relative;
        margin: 0 !important;
        justify-content: center;

        .card-image-col {
            padding: 0;
            height: 40vh;
            max-width: 85%;
            background-size: cover;
            background: url("../assets/temp-vineyard-img.png") no-repeat center;
        }

        .card-title-col {
            padding: 0;
            max-width: 85%;

            h1 {
                color: $fontColorPrimary;
                font-family: $bigcaslon;
            }
        }

        .card-location-col {
            padding: 0;
            max-width: 85%;

            h2 {
                font-weight: 600;
                font-size: 0.8rem;
                color: $fontColorPrimary;
                font-family: $tradegothiccondensed;
            }
        }

        .card-caption-col {
            padding: 0;
            max-width: 85%;

            p {
                color: $fontColorPrimary;
                font-family: $tradegothiccondensed;
            }
        }

        .card-button-col {
            opacity: .7;
            padding: 0;
            max-width: 85%;
            transition: .3s linear all;

            &:hover {
                opacity: 1;
            }

            button {
                border: 0px;
                box-shadow: none !important;
                background-color: #AB9664 !important;

            }
        }
    }
}
