@import "../App.scss";

.card-container {
    margin: 0 !important;
    width: 100%;
    height: 100%;
    .card-container-col {
        padding: 0;
        width: 100%;
        height: 100%;
        .card-image-row {
            margin: 0;
            width: 100%;
            height: 40%;                
            background-size: cover;
            background: url("../assets/temp-vineyard-img.png") center no-repeat;
        }
        .card-text-row {
            margin: 0;
            padding: 0;
            width: 100%;
            .card-text-col {
                padding: 0;
                .card-text-title-row {
                    margin: 0;
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    font-size: 1.25rem;
                    font-family: $bigcaslon;
                }
                .card-text-location-row {
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    font-weight: 700;
                    font-size: 1.3rem;
                    font-family: $tradegothiccondensed;
                }
                .card-text-description-row {
                    padding: 0;
                    width: 100%;
                    height: 100%;
                    font-family: $caslon;
                    }
            }
        }
    }
}
