@import "../App.scss";

.section-container {
    width: 100%;
    margin: 0 !important;
    padding: 25px 0 0 0 !important;

    .section-row {
        margin: 0;
        justify-content: center;

        .section-title-Col {
            padding: 0;
            max-width: 85%;

            h1 {
                font-family: $bigcaslon;
                color: $fontColorPrimary;
            }
        }

        .section-appellations-Col {
            padding: 0;
            max-width: 85%;

            h2 {
                font-weight: 100;
                font-size: 0.95rem;
                color: $fontColorPrimary;
                font-family: $tradegothiccondensed;

                mark {
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: $fontColorPrimary;
                    background-color: transparent;
                    font-family: $tradegothiccondensed;
                }
            }
        }

        .section-description-Col {
            margin: 0;
            padding: 0;
            max-width: 85%;
            border-bottom: .8px solid #7D7D7D;

            p {
                font-weight: 500;
                font-size: 1.45rem;
                font-family: $caslon;
                color: $fontColorPrimary;
            }
        }
    }

    .section-card-row {
        margin: 0;
        padding-top: 25px;
        justify-content: space-evenly;
    }
}
