@import "../App.scss";
/*Font Sizes*/
$ms-3: 0.512rem;
$ms-2: 0.64rem;
$ms-1: 0.8rem;
$ms0: 1rem;
$ms1: 1.25rem;
$ms2: 1.563rem;
$ms3: 1.953rem;
$ms4: 2.441rem;
$ms5: 3.052rem;
$ms6: 3.815rem;
$ms7: 4.768rem;
$ms8: 5.96rem;
$ms9: 7.451rem;
$ms10: 9.313rem;
p {
	&.appellations {
		font-family: $tradegothiccondensed;
		letter-spacing: 0.05em;
		margin-bottom: 0.5em;
		font-size: $ms-2;
		strong {
			text-transform: uppercase;
		}
	}
}
.section-container {
    width: 100%;
    margin: 0 !important;
    padding: 0 30px !important;

    .section-row {
        margin: 0;
        justify-content: center;

        .section-title-Col {
            padding: 0;

            h1 {
                font-family: $bigcaslon;
                color: $fontColorPrimary;
            }
        }

        .section-appellations-Col {
            padding: 0;

            h2 {
                font-weight: 100;
                font-size: 0.95rem;
                color: $fontColorPrimary;
                font-family: $tradegothiccondensed;

                mark {
                    font-weight: 600;
                    font-size: 1.2rem;
                    color: $fontColorPrimary;
                    background-color: transparent;
                    font-family: $tradegothiccondensed;
                }
            }
        }

    }

    .section-card-row {
        margin: 0;
        padding-top: 25px;
        justify-content: space-evenly;
    }
}
