@import url("https://use.typekit.net/sfj1yxs.css");

// Fonts
$bigcaslon: big-caslon-fb, serif;
$caslon: williams-caslon-text, serif;
$tradegothiccondensed:  trade-gothic-next-condensed, sans-serif;
$tradegothiccompressed: trade-gothic-next-compressed, sans-serif;

// Font colors
$fontColorPrimary: #393D40;

body {
  width: 100%;
  height: 100%;
  .row {
    margin: 0;
  }
  .col {
    padding: 0;
  }
}

.App {
  width: 100vw;
  display: flex;
  height: 100vh;
  flex-direction: row;
  padding: 0 !important;

  // Scroll Places Styles
  .scroll-places-row {
    margin: 0;
    width: 40vw;
    height: 100%;
    .scroll-places-col {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      background-color: #FFF;
      .section-container {
        width: 85%;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
        .section-container-col {
          padding: 0;
          width: 100%;
          height: 100%;
          .section-text-row {
            height: auto;
            color: $fontColorPrimary;
            .section-text-col {
              height: 100%;
              .section-text-sectionTitle-row {
                font-size: 1.5rem;
                font-family: $bigcaslon;
              }
              .section-text-appellations-row {
                color: $fontColorPrimary;
                h1 {
                  font-size: 1rem;
                  font-weight: 100;
                  margin-bottom: 0;
                  word-break: break-all;
                  color: $fontColorPrimary;
                  font-family: $tradegothiccondensed;
                  mark {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: $fontColorPrimary;
                    background-color: transparent;                  
                    font-family: $tradegothiccondensed;
                  }
                }
              }
              .section-text-sectionDescription-row {
                font-family: $bigcaslon;
                color: $fontColorPrimary;
                p {
                  margin-bottom: 0;
                  font-size: 1.2rem;
                }
              }
              .section-divider-row {
                width: 100%;
                height: 50px;
                display: flex;
                align-items: center;
                .section-divider {
                    width: 100%;
                    border: .5px solid #7D7D7D;
                }
              }
            }
          }
          .section-card-row {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  // Google Map Styles
  .scroll-map-container {
    width: 60vw;
    height: 100vh;
    .scroll-map-row {
      width: 100%;
      height: 100vh;
      .scroll-map-col {
        width: 100%;
        height: 100vh;
        .map-marker {
          opacity: .7;
          &:hover {
            opacity: 1;
            .map-marker-isfocus {
              opacity: 1;
            }
          }
          .map-marker-isfocus {
            opacity: 0;
          }
        }
      }
    }
  }
}