@import url("https://use.typekit.net/sfj1yxs.css");

// Fonts
$bigcaslon: big-caslon-fb, serif;
$caslon: williams-caslon-text, serif;
$tradegothiccondensed:  trade-gothic-next-condensed, sans-serif;
$tradegothiccompressed: trade-gothic-next-compressed, sans-serif;

// Font colors
$fontColorPrimary: #393D40;

body {
  width: 100%;
  height: 100%;
}

.App {
  width: 100vw;
  display: flex;
  height: 100vh;
  flex-direction: row;
  padding: 0 !important;

  // Scroll Places Styles
  .scroll-places-row {
    margin: 0;
    width: 40vw;
    height: 100%;
    .scroll-places-col {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      background-color: #FFF;
    }
  }

  // Google Map Styles
  .scroll-map-container {
    width: 60vw;
    height: 100vh;
    .scroll-map-row {
      width: 100%;
      height: 100vh;
      .scroll-map-col {
        width: 100%;
        height: 100vh;
        .map-marker {
          opacity: .7;
          &:hover {
            opacity: 1;
            .map-marker-isfocus {
              opacity: 1;
            }
          }
          .map-marker-isfocus {
            opacity: 0;
          }
        }
      }
    }
  }
}